tr.param-row {

    .required {
        color: #3260a8;
    }

    @for $i from 1 to 8 {

        &.level--#{$i} {
            td:first-child {
                padding-left: #{1.5 + 1 * $i}rem !important;
            }
        }
    }

    td:first-child {
        padding-left: 1.5rem;
        display: flex;

        .param-container {
            display: flex;
            flex-direction: column;

            .parameter {
                position: relative;
                font-weight: 500;
                margin-bottom: 0.4em;

                i {
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    font-size: 0.8em;
                    padding: 0.25em;
                    transform: translateY(-50%);
                }
            }

            .data-type {
                font-size: 0.7em;
            }

        }

    }

}